language: node_js
node_js:
  - "8.11.3"
before_install:
  - cd ~/
  - git clone https://github.com/AGWA/git-crypt.git
  - cd git-crypt
  - make && make install PREFIX=~/git-crypt
  - export PATH=~/git-crypt:$PATH
script:
  - printenv