language: node_js
node_js:
  - "8.11.3"
before_install:
  - cd ~/
  - git clone https://github.com/AGWA/git-crypt.git
  - cd git-crypt
  - make && make install PREFIX=~/git-crypt
  - export PATH=~/git-crypt:$PATH
  - echo $GIT_CRYPT_KEY > ~/git-crypt/base64-key
  - base64 -d ~/git-crypt/base64-key > ~/git-crypt/crypt-key
script:
  - echo 'Hi'
  - cd $TRAVIS_BUILD_DIR